.login {
    width: 350px;
    padding: 2% 0 0;
    margin: auto;
}

.form {
    border-radius: 0.50rem;
    position: relative;
    z-index: 1;
    background: var(--background);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 #969696, 0 5px 5px 0 #9191916f;
}

.titulo-login {
    font-weight: bold;
    color:#303030;
}

.form input {
    background: var(--background);
    width: 100%;
    border:0;
    border-bottom: 1px solid #757575;
    border-right:1px solid #757575 ;
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.recCont {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}
  

  