html {
  height: 100%;
}

body {
  height: 100%;
  background: url('/static/img/background.jpg');
  background-attachment: fixed;
  background-repeat: repeat;
  content: ' ';
  background-position: 50% 0;
}

form {
  height: 100%;
}

.form-custom {
  background: var(--background);
  width: 100%;
  border: 0;
  border-bottom: 1px solid #757575;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.container-md {
  max-width: 720px;
}

.font-size {
  font-size: 12px;
}

@media screen and (min-width:767px) {
  .font-size {
    font-size: 14px;
  }
}