{% extends "base/base.html" %}

{% block titulo %}
ISPP N°1
{% endblock %}

{% block head%}
{{super()}}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/home.css') }}"
/>
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block sidebar %}
{{super()}}
{% endblock %}

{%block content%}
<div class="hero d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex text-center text-md-start flex-column">
        <h1 class="display-4 titulo">
          Instituto Superior del Profesorado Provincial N°1
        </h1>
        <span class="text-muted h5">Prof. Rodolfo Argentino Días</span>
      </div>
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/hero.jpeg')}}" class="img-fluid img-hero">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block title %}
Home
{% endblock %}
